.main-view {
    height: 900px;
    width: 500px;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    border-radius: 25px;
    background-color: rgb(135, 150, 163);
    font-style: italic;
}

#headerText {
    font-size: 85px;
    margin-left: 12%;
}

#headerTextEnd {
    font-size: 182px;
    margin-left: 35%;
    margin-top: 18%;
}

/* #btnClick {
    /* margin: 0; */
    /* padding: 0; */
    /* border-radius: 50%; */
    
    /* margin-left: auto;
    margin-right: auto;
    display: block; 
}*/



.initialPosition {
    margin-right: auto;
    display: block;
    margin-top: 600px !important;
    margin-left: 350px !important;
}


#scrollEnd {
    height: 300px;
    overflow-y: scroll;
}

.nextPage {
    display: block;
    position: absolute;
    left: 48%;
    top: 75%;
}

.resetButton {
    display: block;
    position: absolute;
    left: 56%;
    top: 81%;
}

/* .container-fluid {
    background-color: aqua;
} */

body {
    background-color: rgb(10, 31, 31);
}