.main-view {
    height: 900px;
    width: 500px;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    border-radius: 25px;
}

#headerText {
    font-size: 85px;
    margin-left: 12%;
}

/* #btnClick {
    /* margin: 0; */
    /* padding: 0; */
    /* border-radius: 50%; */
    
    /* margin-left: auto;
    margin-right: auto;
    display: block; 
}*/



.initialPosition {
    margin-right: auto;
    display: block;
    margin-top: 600px !important;
    margin-left: 350px !important;
}

.btn btn-secondary {
    
}

#scrollEnd {
    height: 300px;
    overflow-y: scroll;
}

.nextPage {
    display: block;
    position: absolute;
    left: 45%;
    top: 75%;
}

.resetButton {
    display: block;
    position: absolute;
    left: 65%;
    top: 81%;
}