.main-view {
    height: 900px;
    width: 500px;
    margin: auto;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-color: rgb(173, 182, 190);

}

#headerText {
    font-size: 85px;
    margin-left: auto;
    text-align: center;
}

#paragraphText {
    margin: auto;
    text-align: center;
    margin-top: 15%;
    font-size: x-large;
    font-style: italic;
    color: #295639;
}

.initialPosition {
    margin-right: auto;
    display: block;
    margin-top: 600px;
    margin-left: 350px !important;
}

#scrollEnd {
    height: 300px;
    overflow-y: scroll;
    margin: auto;
    text-align: center;
    font-size: large;
    font-family: sans-serif;
}

.nextPage {
    display: block;
    position: absolute;
    left: 48%;
    top: 75%;
}

.resetButton {
    display: block;
    position: absolute;
    left: 56%;
    top: 81%;
}

body {
    background-color: rgb(10, 31, 31);
}